[package]
name = "mint"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
chrono = "0.4"
clap = { version = "4.0", features = ["derive", "env"] }
colored = "2"
csv = "1"
dirs = "4"
env_logger = "0.9"
log = "0.4"
serde = { version = "1", features = ["derive"] }
